### Домашняя Работа !!
### Работаем только с файлом california_housing_test.csv 
1) Прочесть с помощью pandas файл california_housing_test.csv 

2) Посмотреть сколько в нем строк и столбцов

3) Определить какой тип данных имеют столбцы

4) Показать longitude где housing_median_age < 35

5) Показать столбцы longitude и latitude

6) Выбрать данные где total_rooms < 2000 и population > 1500
  
7) Определить какое максимальное и минимальное значение **population**

8) (Доп) Показать максимальное **longitude**, где **median_income** > 3

9) (Доп) Узнать какая максимальная **total_bedrooms** при минимальном значении **households**

In [4]:
# Библиотека для работы с табличными данными
import pandas as pd

In [6]:
# Прочтем файл .csv с помощью библиотеки pandas
df = pd.read_csv('california_housing_test.csv')

In [7]:
# Возвращает размеры таблицы: кортеж из 2 значений, 1 кол-во строк, 2 - кол-во столбцов
df.shape

(3402, 9)

In [8]:
# Проверить тип данных в столбцах
# В данных случаях везде float, число 64 указывает на разрядность(Используется 64 байта для хранения значения в памяти,
# чем меньше разрядность, тем меньший диапазон могут принимать числа и тем меньше тратится памяти на хранение.
df.dtypes

Unnamed: 0              int64
longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms          int64
population              int64
households              int64
median_income         float64
dtype: object

In [10]:
# Показать longitude где housing_median_age < 35
# Выбор определенного кол-ва рядов и столбцов
# используется метод loc в [], первый аргумент индекс или селектор, а второй список со столбцами
df.loc[df['housing_median_age'] < 35, ['longitude','housing_median_age']]

      longitude  housing_median_age
0       -117.66                  14
1       -117.07                  26
2       -117.91                  27
3       -117.19                  33
4       -119.58                  13
...         ...                 ...
3392    -122.10                  18
3393    -117.52                   2
3395    -117.01                  17
3398    -117.88                  29
3399    -118.32                  32

[2216 rows x 2 columns]

In [11]:
# Показать столбцы longitude и latitude
# Выбор нескольких столбцов [широта, кол-во жителей]
df[['longitude', 'latitude']]

      longitude  latitude
0       -117.66     35.60
1       -117.07     32.71
2       -117.91     33.61
3       -117.19     34.05
4       -119.58     36.83
...         ...       ...
3397    -118.33     34.09
3398    -117.88     34.09
3399    -118.32     34.26
3400    -118.12     33.80
3401    -118.19     33.78

[3402 rows x 2 columns]

In [13]:
# Выбрать данные где total_rooms < 2000 и population > 1500
# Для отбора можно использовать несколько условий одновременно
# Знак & означает 'and', а знак | 'or'
df[(df['total_rooms'] < 2000) & (df['population'] > 1500)]

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
12,13,-118.21,33.79,39,1598,458,1691,399,2.3605
18,19,-122.41,37.80,30,1821,738,1648,684,0.8836
69,70,-117.93,34.01,33,1733,361,1757,375,4.2266
100,101,-121.24,36.33,13,1642,418,1534,388,3.1222
120,121,-118.22,33.90,35,1649,424,1786,388,1.4091
...,...,...,...,...,...,...,...,...,...
3151,3152,-118.36,34.22,37,1512,348,1545,351,3.7663
3172,3173,-117.89,33.74,32,1562,365,2145,347,2.9167
3215,3216,-118.23,33.92,32,1735,430,1699,386,1.1793
3332,3333,-119.76,36.71,29,1745,441,1530,391,1.5611
3372,3373,-118.20,33.99,35,1705,523,2252,508,2.3421

In [14]:
# Определить какое максимальное и минимальное значение **population**
# Максимальное значение
print(df['population'].max())
# Минимальное значение
print(df['population'].min())

35682
8

In [29]:
# (Доп) Показать максимальное **longitude**, где **median_income** > 3

df.loc[df['median_income'] > 3, ['longitude','median_income']]


#print((df['longitude'].max()) & df.loc[df['median_income'] > 3])

KeyError: "None of [Float64Index([-114.59], dtype='float64')] are in the [columns]"

In [28]:
# (Доп) Узнать какая максимальная **total_bedrooms** при минимальном значении **households**

df.loc[(df['total_bedrooms'].max()) & (df['households'].min())]

Unnamed: 0               1.0000
longitude             -117.6600
latitude                35.6000
housing_median_age      14.0000
total_rooms           1740.0000
total_bedrooms         391.0000
population             850.0000
households             317.0000
median_income            2.5812
Name: 0, dtype: float64